{% extends 'Authenticatoins\lbase.html' %}

{% load static %}

{% block content%}

<body style="background-color: #fbfcf9f7;">
    <!-- <body style="background-color: #f5c5cf;" ></body> -->

    <div class=" container vh-80 d-flex justify-content-center align-items-center ">

        <div class="col-md-6 text-center d-none d-md-block">
            <img style="height: 90vh; width: 90vh;"
                src="https://img.freepik.com/free-photo/portrait-young-smiling-lady-sunglasses-standing-with-colorful-shopping-bags-hands-pink-background-pretty-woman-standing-white-shirt-denim-shorts_574295-1176.jpg?w=2000"
                class="img-fluid" alt="Image">
        </div>
        <div class="col-md-6 d-flex justify-content-center ">
            <form style="height: 40rem,; width: 20rem;" class="row d-flex justify-content-between mt-5" method="POST"
                action="/forgetpas/">
                {% csrf_token %}
                
                <h3 class="font-weight-bold">Reset Your Password</h3>
                <div style="width: 60vh; height: 3vh;" class="form-group">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                
                <div style=" width: 60vh; height: 3vh;" class="form-group ">
                    <label for="username">Email </label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username"
                        name="resetpassword">
                </div>
                <div class="form-group text-dark">
                    <button style="width: 10rem; height: 2rem;" type="submit"
                        class="btn btn-danger text-center mt-5">Submitt</button>
                    <p>Back <a href="/" class="text-dark">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>

</html>

{% endblock content%}