{% include 'adminpanel/navbar_admin.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="zxx">
    

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <!-- <link href="{% static 'https://fonts.googleapis.com/css2?family=Cookie&display=swap' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap' %}"
    rel="stylesheet"> -->

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{ static 'css/elegant-icons.css' }" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"> -->

    <style>
        .admin{

            padding-top:6vh;
            
        }
        .item
        {
            color: aliceblue;
            font-weight: bold;
            
        
        }
    </style>


</head>
<body>
    {% block content %}
    {% endblock %}
</body>



    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/selectinput.js' %}"></script>
    <script src="{% static 'js/modal1.js' %}"></script>
    <script src="{% static 'js/admindashboardadminc.js' %}"></script>
    <script src="{% static 'js/productdetailsadmin.js' %}"></script>
    <script src="{% static 'js/varientvalidateform.js' %}"></script>
    <script src="{% static 'js/bannermanagement.js' %}"></script>
    <script src="{% static 'js/coupenmanagement.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>

</html>

